In [8]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [9]:
response=requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/bookstore.html').text

In [10]:
soup= BeautifulSoup(response, 'html.parser')

In [12]:
Price=[]
Topic=[]
Author=[]
Pages=[]

for book in soup.find('table').find_all('tr', class_='book'):
    Price.append(book.find_all('td')[6].text)
    Topic.append(book.find_all('td')[5].text)
    Author.append(book.find_all('td')[2].text)
    Pages.append(book.find_all('td')[4].text)

In [15]:
df=pd.DataFrame({
    'Price': Price,
    'Topic': Topic,
    'Author': Author,
    'Pages': Pages
    })

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   15 non-null     object
 1   Topic   15 non-null     object
 2   Author  15 non-null     object
 3   Pages   15 non-null     object
dtypes: object(4)
memory usage: 612.0+ bytes

In [18]:
df['Author'].value_counts()

Author
Penelope Wainwright    4
Jasper Sterling        2
Benjamin Barkley       2
Maximilian Thorne      1
Celeste Nightshade     1
Isadora Harrington     1
Seraphina Montague     1
Sophie Shepherd        1
Oliver Obedience       1
Ruby Ruffington        1
Name: count, dtype: int64

In [20]:
df['Topic'].value_counts()

Topic
Cats    10
Dogs     5
Name: count, dtype: int64

In [23]:
df['Price'] = df['Price'].str.replace('$', '', regex=False)

In [24]:
df['Price']

0     19.99
1     15.99
2     21.99
3     17.99
4     16.99
5     20.99
6     14.99
7     18.99
8     16.99
9     12.99
10    29.99
11    25.99
12    21.99
13    27.99
14    26.99
Name: Price, dtype: object

In [26]:
df['Price'] = df['Price'].astype(float)

In [30]:
df.groupby('Topic')['Price'].mean()

Topic
Cats    17.79
Dogs    26.59
Name: Price, dtype: float64

In [32]:
df['Pages'] = df['Pages'].astype(int)

In [33]:
df.groupby('Topic')['Pages'].mean()

Topic
Cats    238.4
Dogs    256.0
Name: Pages, dtype: float64